body,html{
    margin: 0;
    padding: 0;
}

.bloc{
    background-color: lightskyblue;
    color: white;
    margin: 1px;
}

.bloc1{
    background-color: orange;
    color: white;
    margin: 1px;
}


